DATABASE_NAME=vesteai
DATABASE_USERNAME=vesteai
DATABASE_PASSWORD=vesteai
DATABASE_URL=jdbc:postgresql://localhost:5432/vesteai

APP_PROFILE=dev
APP_STORAGE_PECAS_DIR=./uploads/pecas

VITE_API_URL=http://localhost:8080
